body {
  font-size: 16px;
}

button {
  -webkit-box-shadow: 0 5px 10px #666;
  -moz-box-shadow: 0 5px 10px #666;
  box-shadow: 0 5px 10px #666;
  border-radius: 5px;
  border-width: 0;
  padding: 5px;
}

button:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.guess,
.letter {
  background-color: black;
  color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

button.guess:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

button.guess.correct:disabled,
.letter.correct {
  background-color: green;
}

button.guess.incorrect:disabled,
.letter.missed.lost {
  background-color: red;
}

.letter.correct.lost {
  background-color: black;
}

p.lost,
.warn {
  color: red;
}

p.won {
  color: green;
}

.feedback {
  font-size: 1.2em;
  font-weight: bold;
}

.letter {
  border-radius: 5px;
  border-width: 0;
  padding: 5px;
}

#start {
  background-color: black;
  color: white;
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}
